# Banco de Dados PostgreSQL
DATABASE_URL="postgresql://cortedarainha:cortedarainha_secret@localhost:5433/cortedarainha_db?schema=public"

# Chave secreta de 32+ caracteres para criptografia AES e assinatura de sessões
APP_SECRET="cortedarainha_super_secret_key_32c"

# Porta do servidor (padrão 3000)
PORT=3000
NODE_ENV=production
